<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>OpenCV Camera</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="demo">
    <div class="demo__title">OpenCV Camera</div>
    <div class="demo__content">
        {% for key in Filters %}
            <label class="switcher">
                <input type="radio" class="choice" name="choice" value="{{ key }}"/>
                <div class="switcher__indicator"></div>
                {{ key }}
            </label><br/><br/>
        {% endfor %}
    </div>
    <div class="button__title">
        <input type="button" class="button" id="btnSearch" value="RUN">
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{{ url_for('static', filename='hello.js') }}"></script>

</body>
</html>
