<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenCV Camera</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="demo">
    <div class="demo__title">Model Settings</div>
    <div class="demo__content">
        {% for key in Models %}
            <label class="switcher">
                <input type="radio" name="model" value="{{ key }}"/>
                <div class="switcher__indicator"></div>
                {{ key }}
            </label><br/><br/>
        {% endfor %}
    </div>
    <div class="button__title">
        <input type="button" class="button" id="btnModel" value="Select Model">
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{{ url_for('static', filename='hello.js') }}"></script>

</body>
</html>